/**MOBILE FIRST DESIGN**/

/* General */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;    
}

.topContent {
    background-image: url('/images/bg-hero-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
}


/*Navigation*/

.topGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#mainLogoDiv {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    margin-left: 20px;
}

#mainLogoDiv img {
    margin-top: 30px;
    height: 20px;
}

#navButtonDiv {
    margin-top: 28px;
    margin-right: 20px;
    text-align: right;
    grid-column-start: 2;
    grid-column-end: 3;
}

#tryItFree {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: white;
    border-radius: 50px;
    border: none;
    height: 30px;
    width: 100px;
    -webkit-box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
}

#tryItFree:hover {
    transform: scale(1.3);
}

/*TOP CONTENT*/

#topContentText {
    margin: 90px auto;
    text-align: center;
    width: 90%;
}

#topContentText h1 {
    font-weight: 600;
    margin: 0 auto;
    font-size: 1.8em;
}

#topContentText button {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 20px;
    background-color: white;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 250px;
    background-color: #FE52C0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#topContentText button:hover {
    transform: scale(1.3);
}

#topContentImg {
    text-align: center;
}

#topContentImg img {
    height: 200px;
    padding-bottom: 50px;
}

/* Cards */

.cards {
    display: grid;
    grid-template-rows: 55% 45%;
    grid-template-columns: 100%;
    justify-items: center;
    margin: 30px auto;
    border-radius: 20px;
    width: 90%;
    height: 450px;
    -webkit-box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
}

.cardImages {
    padding-top: 50px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 65%;
}

.cardText {
    text-align: center;
    width: 85%;
    grid-row-start: 2;
    grid-row-end: 3;
}

.cardText h1 {
    font-size: 1.3em;
}

.cardText p {
    margin: 0 auto;
    font-size: 0.8em;
    width: 90%;
}

/*CTA Section*/

#ctaDiv {
    position: relative;
    top: 65px;
    background-color: white;;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    height: 170px;
    width: 90%;
    -webkit-box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
}

#ctaDiv h1 {
    font-weight: 700;
    padding-top: 40px;
    font-size: 0.9em;
}

#ctaDiv button {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 60%;
    background-color: #FE52C0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#ctaDiv button:hover {
    transform: scale(1.3);
}

#ctaDiv > * {
    padding: 10px;
}

/* Footer */

footer {
    color: white;
    width: 100%;
    height: 100%;
    background-color: #00252E;
}

#contactDiv {
    padding-top: 140px;
    padding-left: 20px;
}

#contactDiv img {
    height: 25px;
}

ul {
    padding-left: 25px;
}

li {
    width: 90%;
    padding-left: 11px;
    padding-bottom: 10px;
}

/* Footer list images */

ul.location {
    list-style-image: url('../images/icon-location.svg');
}

ul.phone {
    list-style-image: url('../images/icon-phone.svg');
}

ul.email {
    list-style-image: url('../images/icon-email.svg');
    margin-bottom: 0;
    padding-bottom: 15px;
}

/*Footer nav */

#footerNav {
    margin-top: 20px;
    margin-left: 30px;
}

.navList {
    list-style: none;
    font-size: 0.85em;
    padding-left: 10px;
} 

.navList li {
    padding: 10px;
}

/* Social Div */

#socialDiv {
    text-align: center;
    padding: 20px;
}

#socialDiv img {
    height: 25px;
    padding: 5px;
}

#socialDiv p {
    margin-top: 15px;
    font-size: 0.7em;
}


/*************************************************** MEDIA QUERIES FOR DESKTOP ***************************************************/

@media (min-width: 900px) {

    /*General*/
    .topContent {
        background-image: url('/images/bg-hero-desktop.svg');
    }

    /* Navigation */

    #mainLogoDiv img {
        margin-left: 50px;
        margin-top: 30px;
        height: 25px;
    }

    #tryItFree {
        margin-right: 50px;
        height: 35px;
        width: 150px;
    }

    /* Top Content */


    .topContentGrid {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #topContentText {
        text-align: left;
        width: 50%;
    }

    #topContentImg {
        text-align: center;
    }

    #topContentImg img {
        height: 400px;
        margin-top: 35px;
    }

    /* CARDS */

    .cards {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;
        height: 350px;
    }

    .cardImages {
        padding-top: 50px;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 65%;
    }
    
    .cardText {
        padding-left: 150px;
        text-align: left;
        width: 85%;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .cardText p {
        margin: 0px;
        width: 85%;
    }

    .cardText > h1 {
        margin-top: 120px;
    }

    /*Middle card content swap*/

    #midCardImg {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    #midCardText {
        padding-left: 30px;
        grid-column-start: 2;
        grid-column-end: 3;
    }

/*CTA Section*/

#ctaDiv {
    width: 40%;
}

/* Footer */

footer {
    height: 500px;
}

#footerGrid {
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

#contactDiv {
    padding-top: 140px;
    padding-left: 70px;
}

#footerNav {
    margin-top: 160px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.navListLeft {
    grid-column-start: 1;
    grid-column-end: 2;
}

.navListRight {
    padding-left: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
}


/* Social Div */

#socialDiv {
    margin-top: 160px;
    text-align: center;
    padding: 20px;
}

#socialDiv p {
    margin-top: 175px;
    font-size: 0.7em;
}
}