/**MOBILE FIRST DESIGN**/

/* General */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;    
}

.topContent {
    background-image: url('/images/bg-hero-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
}


/*Navigation*/

.topGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#mainLogoDiv {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    margin-left: 20px;
}

#mainLogoDiv img {
    margin-top: 30px;
    height: 20px;
}

#navButtonDiv {
    margin-top: 28px;
    margin-right: 20px;
    text-align: right;
    grid-column-start: 2;
    grid-column-end: 3;
}

#tryItFree {
    background-color: white;
    border-radius: 50px;
    border: none;
    height: 30px;
    width: 100px;
    -webkit-box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
}

/*TOP CONTENT*/

#topContentText {
    margin: 90px auto;
    text-align: center;
    width: 90%;
}

#topContentText h1 {
    font-weight: 600;
    margin: 0 auto;
    font-size: 1.8em;
}

#topContentText button {
    margin-top: 20px;
    background-color: white;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 250px;
    background-color: #FE52C0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#topContentImg {
    text-align: center;
}

#topContentImg img {
    height: 200px;
    padding-bottom: 50px;
}

/* Cards */

.cards {
    display: grid;
    grid-template-rows: 55% 45%;
    grid-template-columns: 100%;
    justify-items: center;
    margin: 30px auto;
    border-radius: 20px;
    width: 90%;
    height: 450px;
    -webkit-box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);
}

.cardImages {
    padding-top: 50px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 65%;
}

.cardText {
    text-align: center;
    width: 85%;
    grid-row-start: 2;
    grid-row-end: 3;
}

.cardText h1 {
    font-size: 1.3em;
}

.cardText p {
    margin: 0 auto;
    font-size: 0.8em;
    width: 90%;
}





/****************** MEDIA QUERIES FOR DESKTOP *******************/

@media (min-width: 900px) {

    /*General*/
    .topContent {
        background-image: url('/images/bg-hero-desktop.svg');
    }

    /* Navigation */

    #mainLogoDiv img {
        margin-left: 50px;
        margin-top: 30px;
        height: 25px;
    }

    #tryItFree {
        margin-right: 50px;
        height: 35px;
        width: 150px;
    }

    /* Top Content */


    .topContentGrid {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #topContentText {
        text-align: left;
        width: 50%;
    }

    #topContentImg {
        text-align: center;
    }

    #topContentImg img {
        height: 400px;
        margin-top: 35px;
    }
}